*.classpath
*.project
*.settings/
target
logs
*.orig
*.swp
dependency-reduced-pom.xml
*.iml
.idea/
*.ipr
*.iws
nb-configuration.xml
nbactions.xml
/modules/cpp-library/dist/
/modules/cpp-library/build/
/modules/cookie-ciphering/nytcookiejw/build/
/modules/cookie-ciphering/nytcookiejw/dist/
/modules/status/.idea
/modules/status/yaml/.gitignore
/.gitignore